<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="navbar">
      <div class="logo">
        <a href="#"> Portal </a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">content</a></li>
        </ul>
      </div>
    </section>
    <section class="hero">
      <div class="tag">
        <p>Hi, we are group 7 feel free to have a tour!!</p>
        <button><a href="#"> content</a></button>
      </div>
    </section>
    <section class="about-us">
      <p>About Us</p>
      <div class="cards-collide">
        <div class="card">
          <img src="../assets/Rectangle 6.svg" alt="" width="200px" />
          <p>Marcelinus Alvinanda Chrisantya</p>
        </div>
        <div class="card">
          <img src="../assets/Rectangle 6.svg" alt="" width="200px" />
          <p>Marcelinus Alvinanda Chrisantya</p>
        </div>
        <div class="card">
          <img src="../assets/Rectangle 6.svg" alt="" width="200px" />
          <p>Marcelinus Alvinanda Chrisantya</p>
        </div>
        <div class="card">
          <img src="../assets/Rectangle 6.svg" alt="" width="200px" />
          <p>Marcelinus Alvinanda Chrisantya</p>
        </div>
      </div>
    </section>
  </body>
</html>
